<div class="player-sign-up">
    <h2>Sign Up</h2>

    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <div class="form-element">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" required>
            <p *ngIf="signUpForm.get('name')?.invalid && signUpForm.get('name')?.touched">Missing name</p>
        </div>

        <div class="form-element">
            <label for="surname">Surname</label>
            <input type="text" id="surname" formControlName="surname" required>
            <p *ngIf="signUpForm.get('surname')?.invalid && signUpForm.get('surname')?.touched">Missing surname</p>
        </div>

        <div class="form-element">
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="username" required>
            <p *ngIf="signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched">Missing username</p>
        </div>

        <div class="form-element">
            <label for="email">email</label>
            <input type="text" id="email" formControlName="email" email required>
            <p *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">Invalid email</p>
        </div>

        <div class="form-element">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" required>
            <p *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">Missing password</p>
        </div>

        <input type="submit" value="Sign Up" [disabled]="signUpForm.invalid">
    </form>

    <p>Already have an account?<br><a routerLink="/player/sign-in">Sign In</a></p>
</div>
