<div class="arcade-player-sign-up">
    <h2>Sign Up</h2>

    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <label for="name">name</label>
        <input type="text" id="name" formControlName="name" required>

        <label for="surname">surname</label>
        <input type="text" id="surname" formControlName="surname" required>

        <label for="email">email</label>
        <input type="text" id="email" formControlName="email" email required>

        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" required>

        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account?<br><a routerLink="/player/sign-in">Sign In</a></p>
</div>
