.game-room-view-events {
    max-width: 1100px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

.game-room-view-events h2 {
    margin-bottom: 20px;
    font-size: x-large;
}

.game-room-view-events .event {
    width: 300px;
    padding: 20px;
    margin: 5px;
    text-align: start;
    border: white thin solid;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
}

.game-room-view-events .label {
    margin-bottom: 5px;
    font-size: small;
    text-decoration: underline;
    display: block;
}

.game-room-view-events .value {
    margin-bottom: 10px;
    font-size: small;
}

.game-room-view-events p {
    margin-top: 20px;
    font-size: small;
}

.game-room-view-events input[type="button"] {
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: white;
    font-size: small;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
