<div class="game-room-sign-up">
    <h2>Sign Up</h2>

    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <label for="name">name</label>
        <input type="text" id="name" formControlName="name" required>

        <label for="email">surname</label>
        <input type="text" id="email" formControlName="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" required>

        <input type="button" name="SignUp" value="Sign Up" (click)="signUp()">
    </form>
</div>
