.game-room-sign-up {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
}

.game-room-sign-up h2 {
    font-size: x-large;
    margin-bottom: 20px;
}

.game-room-sign-up label {
    display: block;
    font-size: medium;
    margin-bottom: 5px;
}

.game-room-sign-up input[type="text"],
.game-room-sign-up input[type="email"],
.game-room-sign-up input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: medium;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.game-room-sign-up p {
    font-size: small;
    margin-top: 20px;
}

.game-room-sign-up a {
    color: var(--accent-color);
    text-decoration: none;
}

.error-form-element {
    margin-bottom: 15px;
}

.error-form-element:nth-child(n + 1) .ng-invalid.ng-touched {
    border-left: 3px solid var(--accent-color);
    border-right: 3px solid var(--accent-color);
}

.error-form-element p {
    margin-top: 5px;
    margin-left: 5px;
    font-size: x-small;
    color: red;
    text-align: start;
}

.error {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: medium;
    color: var(--accent-color);
}