<div class="game-room-sign-up">
    <h2>Game Room Sign Up</h2>

    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <label for="name">name</label>
        <input type="text" id="name" formControlName="name" required>

        <label for="email">surname</label>
        <input type="text" id="email" formControlName="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" required>

        <input type="submit" name="SignUp" value="Sign Up">
    </form>

    <p>Already have an account?<br><a routerLink="/game-room/sign-in">Sign In</a></p>
</div>
