.home {
    width: 100%;
    height: 80vh;
    max-height: 2000px;
    padding: 10vh 10vh;
    display: table;
    table-layout: fixed;
    justify-content: space-evenly;
}

.player-side {
    width: auto;
    height: 100%;
    text-align: center;
    border-right: white thin solid;
    display: table-cell;
    justify-content: space-evenly;
}

.game-room-side {
    width: auto;
    height: 100%;
    text-align: center;
    border-left: white thin solid;
    display: table-cell;
    justify-content: space-evenly;
}

.buttons {
    width: auto;
    height: 100%;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}