<div class="home">
    <div class="player-side">
        <h2>Player</h2>

        <div class="buttons">
            <input type="button" value="Sign In" routerLink="/player/sign-in">
            <input type="button" value="Sign Up" routerLink="/player/sign-up">
        </div>
    </div>

    <div class="game-room-side">
        <h2>Game Room</h2>

        <div class="buttons">
            <input type="button" value="Sign In" routerLink="/game-room/sign-in">
            <input type="button" value="Sign Up" routerLink="/game-room/sign-up">
        </div>
    </div>
</div>