<div class="game-room-profile">
    <h3>Game room profile</h3>

    <h2>{{ gameRoom?.name }}</h2>

    <div class="records-row">
        <div>
            <div class="label">Total Records:</div>
            <div class="value">{{ recordsLength }}</div>
        </div>

        <input type="button" value="View records" *ngIf="isLoggedUser" routerLink="/game-room/view-records" [queryParams]="{ id: gameRoom!.id }" (click)="navigateToRecords()">
    </div>

    <div class="label">Total events:</div>
    <div class="value">{{ events.length }}</div>

    <div class="events-header">
        <h3>Events</h3>
        <input type="button" value="Add event" *ngIf="isLoggedUser" (click)="createEvent()">
    </div>
    <game-room-view-events [isGameRoomProfile]="true" (receivedEvents)="onEventsReceived($event)"/>
</div>