.game-room-profile {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.game-room-profile h2 {
    margin-bottom: 20px;
    font-size: x-large;
    text-align: center;
}

.game-room-profile h3 {
    margin-bottom: 10px;
    font-size: large;
}

.game-room-profile .label {
    margin-bottom: 5px;
    font-size: medium;
    display: block;
}

.game-room-profile .value {
    margin-bottom: 10px;
    font-size: medium;
}
