.game-room-profile {
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.game-room-profile h2 {
    margin-bottom: 20px;
    font-size: x-large;
    text-align: center;
}

.game-room-profile .events-header,
.game-room-profile .spaced-button {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.game-room-profile .spaced-button input[type="button"] {
    padding: 10px 20px;
    height: 80%;
    background-color: var(--accent-color);
    color: white;
    font-size: medium;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}