<div class="game-room-profile">
    <h2>GameRoom profile</h2>

    <h2>{{ gameRoom?.name }}</h2>

    <div class="label">Total Records:</div>
    <div class="value">{{ recordsLength }}</div>

    <div class="label">Total events:</div>
    <div class="value">{{ events.length }}</div>

    <div class="events-header">
        <h3>Events</h3>
        <input type="button" value="Add event" *ngIf="isLoggedUser" (click)="createEvent()">
    </div>
    <game-room-view-events [isGameRoomProfile]="true" (receivedEvents)="onEventsReceived($event)"/>
</div>