.game-room-create-event {
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    max-width: 300px;
}

.game-room-create-event h2 {
    margin-bottom: 30px;
    font-size: x-large;
}

.game-room-create-event .form-group {
    margin-bottom: 40px;
}

.game-room-create-event label {
    margin-bottom: 10px;
    font-size: medium;
    display: block;
}

.game-room-create-event input[type="text"],
.game-room-create-event textarea {
    width: 100%;
    padding: 10px;
    font-size: medium;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.game-room-create-event input[type="button"] {
    padding: 10px 20px;
    font-size: medium;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}