.game-room-view-records {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
}

.game-room-view-records .record {
    width: 330px;
    padding: 20px;
    margin: 5px;
    text-align: start;
    border: white thin solid;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
}

.game-room-view-records a {
    color: white;
    text-decoration: none;
}

.game-room-view-records a:hover {
    color: var(--accent-color);
}

.game-room-view-records .button-row {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.game-room-view-records input[type="button"] {
    padding: 10px 20px;
    font-size: medium;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
}

#verifyBtn {
    background-color: green;
}
