.player-profile {
    padding: 20px;
    margin: 0 auto;
    max-width: 1100px;
}

.player-profile h2 {
    margin-bottom: 20px;
    font-size: x-large;
    text-align: center;
}

.player-profile h3 {
    font-size: larger;
    margin-top: 10px;
}

.player-profile .label {
    margin-bottom: 5px;
    font-size: medium;
    display: block;
}

.player-profile .value {
    margin-bottom: 10px;
    font-size: large;
}

.player-profile .records {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.player-profile .records input[type="button"] {
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: white;
    font-size: large;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}