.player-profile {
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
}

.player-profile h2 {
    margin-bottom: 20px;
    font-size: x-large;
    text-align: center;
}

.player-profile h3 {
    font-size: larger;
    margin-bottom: 10px;
}

.player-profile .label {
    margin-bottom: 5px;
    font-size: medium;
    display: block;
}

.player-profile .value {
    margin-bottom: 10px;
    font-size: large;
}
