<div class="game-room-delete-records">

    <h2>Delete records</h2>

    <p>Select the records to delete:</p>
    <ul>
        <li *ngFor="let record of records">
            <input type="checkbox" (change)="moveToRecordsToDelete(record)">

            <a [routerLink]="['/player', record.player!.id]" class="value">{{ record.player!.name }}</a>
            <a [routerLink]="['/game', record.game.id]" class="value">{{ record.game.name }}</a>

            <span>{{ record.score }}</span>
            <span>{{ record.date }}</span>
        </li>
    </ul>

    <input type="button" name="deleteSelectedRecords" value="Delete selected records" (click)="deleteSelectedRecords()">
</div>
