.game-room-games {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.game-room-games h2 {
    margin-bottom: 20px;
    font-size: x-large;
}

.game-room-games ul {
    list-style-type: none;
    padding: 0;
}

.game-room-games li {
    margin-bottom: 5px;
}

.game-room-games a {
    color: white;
    text-decoration: none;
}

.game-room-games a:hover {
    color: var(--accent-color);
}