.player-new-record {
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    max-width: 450px;
}

.player-new-record h2 {
    margin-bottom: 20px;
    font-size: x-large;
}

.player-new-record label {
    margin-bottom: 5px;
    font-size: medium;
    display: block;
}

.player-new-record select {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: small;
    border: none;
    border-radius: 3px;
}

.player-new-record input[type="number"],
.player-new-record input[type="date"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: small;
    border: none;
    border-radius: 3px;
}

.player-new-record p {
    margin-top: 20px;
    font-size: medium;
}

.error-form-element {
    margin-bottom: 15px;
}

.error-form-element:nth-child(n + 1) .ng-invalid.ng-touched {
    border-left: 3px solid var(--accent-color);
    border-right: 3px solid var(--accent-color);
}

.error-form-element p {
    margin-top: 5px;
    margin-left: 5px;
    font-size: x-small;
    color: red;
    text-align: start;
}