<div class="arcade-new-record">
    <h2>New Record</h2>

    <div class="form-group">
        <label for="gameRoom">Select Game Room:</label>

        <select id="gameRoom" name="gameRoom" [(ngModel)]="selectedGameRoom" required>
            <option *ngFor="let gameRoom of gameRooms" [ngValue]="gameRoom">{{ gameRoom.name }}</option>
        </select>
    </div>

    <div class="form-group" *ngIf="selectedGameRoom">
        <label for="game">Select Game:</label>

        <select id="game" name="game" [(ngModel)]="selectedGame" (ngModelChange)=getGamesInfo() required>
            <option *ngFor="let game of games" [ngValue]="game">{{ game.name }}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="score">Enter Score:</label>
        <input type="number" id="score" name="score" [(ngModel)]="score" placeholder="Enter your score" required>
    </div>

    <div class="form-group">
        <label for="date">Enter Date:</label>
        <input type="date" id="date" name="date" [(ngModel)]="date" placeholder="Enter the date" required>
    </div>

    <button class="save-button" type="submit" (click)="createRecord()">Save Record</button>
</div>
