<nav class="nav-bar">
    <div>
        <a routerLink="/">
            <!--suppress CheckImageSize -->
            <img ngSrc="/assets/images/NeonArcadeTr.png" width="80" height="80" alt="Logo" priority>
        </a>

        <a [routerLink]="getProfileUrl()">{{ getUsername() }}</a>
    </div>

    <ul class="menu">
        <li><a routerLink="/">Home</a></li>
        <div *ngIf="authInfo.user != undefined">
            <li><a (click)="authInfo.logout()">Sign Out</a></li>
        </div>
    </ul>
</nav>
