.arcade-menu {
    padding: 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arcade-logo img {
    width: 50px;
    height: 50px;
}

.arcade-logo h1 {
    margin-left: 10px;
    color: white;
    font-size: x-large;
}

.arcade-menu {
    list-style: none;
    display: flex;
}

.arcade-menu li {
    margin-left: 10px;
}

.arcade-menu li a {
    font-size: large;
    color: white;
    text-decoration: none;
}

.arcade-menu li a:hover {
    color: #f44336;
}
