.player-sign-in {
    padding: 20px;
    margin: 0 auto;
    max-width: 450px;
    text-align: center;
    border-radius: 5px;
}

.player-sign-in h2 {
    margin-bottom: 20px;
    font-size: x-large;
}

.player-sign-in label {
    margin-bottom: 5px;
    font-size: medium;
    display: block;
}

.player-sign-in input[type="text"],
.player-sign-in input[type="password"] {
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    font-size: small;
    border: none;
    border-radius: 3px;
}

.player-sign-in p {
    font-size: small;
    margin-top: 20px;
}

.player-sign-in a {
    color: var(--accent-color);
    text-decoration: none;
}

.error-form-element {
    margin-bottom: 15px;
}

.error-form-element:nth-child(n + 1) .ng-invalid.ng-touched {
    border-left: 3px solid var(--accent-color);
    border-right: 3px solid var(--accent-color);
}

.error-form-element p {
    margin-top: 5px;
    margin-left: 5px;
    font-size: x-small;
    color: red;
    text-align: start;
}

.error {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: medium;
    color: var(--accent-color);
}