<div class="container">
    <form>
        <div class="form-group">
            <label for="game">Sala Giochi:</label>
            <input type="text" id="game" name="game" required>
        </div>
        <div class="form-group">
            <label for="title">Gioco:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="score">Punteggio:</label>
            <input type="number" id="score" name="score" required>
        </div>
        <div class="form-group">
            <label for="date">Data:</label>
            <input type="date" id="date" name="date" required>
        </div>
        <div class="form-group">
            <button type="submit">newRecord()</button>
        </div>
    </form>
</div>