<div class="container text-lg-start">
    <div class="row justify-content-center">
        <div class="col-4"></div>
        <div class="col-4">
            <h2>Sign in</h2>

            <form>
                <div class="mb-3">
                    <label for="exampleInputName" class="form-label">Name</label>
                    <input type="email" class="form-control" id="exampleInputName" [(ngModel)]="name">
                </div>

                <div class="mb-3">
                    <label for="exampleInputSurname" class="form-label">Surname</label>
                    <input type="email" class="form-control" id="exampleInputSurname" [(ngModel)]="surname">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="email">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password">
                </div>
                <button type="button" class="btn btn-primary" (click)="signin()">Submit</button>
            </form>

        </div>
    </div>
</div>
