.player-view-records {
    margin: 0 auto;
    max-width: 1000px;
    border-radius: 5px;
    text-align: start;
}

.player-view-records h2 {
    margin-bottom: 20px;
    font-size: x-large;
}

.player-view-records .record {
    padding: 20px;
    margin: 5px;
    text-align: start;
    border: white thin solid;
    border-radius: 5px;
    display: inline-block;
}

.player-view-records .label {
    margin-bottom: 5px;
    font-size: medium;
    display: block;
}

.player-view-records .value {
    margin-bottom: 10px;
    font-size: large;
}

.player-view-records a {
    color: white;
    text-decoration: none;
}

.player-view-records a:hover {
    color: var(--accent-color);
}

.player-view-records input[type="button"] {
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: white;
    font-size: larger;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.player-view-records p {
    margin-top: 20px;
    font-size: small;
}
