.player-view-records {
    max-width: 1100px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

.player-view-records a {
    color: white;
    text-decoration: none;
}

.player-view-records a:hover {
    color: var(--accent-color);
}

.player-view-records p {
    margin-top: 20px;
    font-size: small;
}
