.create-event {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    font-family: "Press Start 2P", cursive;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.create-event h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.create-event .form-group {
    margin-bottom: 20px;
}

.create-event label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.create-event input[type="text"],
.create-event textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-family: "Press Start 2P", cursive;
    font-size: 16px;
}

.create-event button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}

.create-event p {
    font-size: 14px;
    margin-top: 20px;
}