<div class="verify-record">
    <h2>Verify Record</h2>

    <ul>
        <li *ngFor="let record of notVerifiedRecords">
            <div class="GameRoom"> GameRoom:
                <a [routerLink]="'/game-room/' + record.gameRoom" class = "value"> {{ record.gameRoom.name}} </a>
            </div>

            <div class="Game"> Game:
                <a [routerLink]="'/game/' + record.game" class = "value"> {{ record.game.name}} </a>
            </div>

            <div class="Player"> Player:
                <a [routerLink]="'/player/' + record.player" class = "value"> {{ record.player?.name}} </a>
            </div>

            <div class="Score"> <strong>Score:</strong>
                {{ record.score }}
            </div>

            <div class="Date"> Date:
                {{ record.date }}
            </div>

            <div class="Button">
                <button (click)="verifyRecord(record)">Verify</button>
            </div>
        </li>
    </ul>
</div>
