.game-room-verify-record {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    font-family: "Press Start 2P", cursive;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.game-room-verify-record h2 {
    font-size: x-large;
    margin-bottom: 20px;
}

.game-room-verify-record ul {
    list-style-type: none;
    padding: 0;
}

.game-room-verify-record li {
    margin-bottom: 5px;
}

.game-room-verify-record label {
    display: block;
    font-size: medium;
    margin-bottom: 5px;
}

.game-room-verify-record input[type="checkbox"] {
    margin-right: 10px;
}

.game-room-verify-record input[type="button"] {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: medium;
    border-radius: 3px;
    cursor: pointer;
}
